.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: #3d3d3d;
  box-shadow: 2px 2px 10px rgba(61, 61, 61, 0.45);
  z-index: 40;
}
@media screen and (min-width: 540px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 50px;
  }
}
.header__container {
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__home {
  width: 40px;
  height: 30px;
  color: #fcfcfc;
  position: relative;
}
.header__home:hover {
  color: #fcfcfc;
}
@media screen and (min-width: 540px) {
  .header__home {
    width: 80px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header__home {
    width: 20px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__home .mobile {
    display: none;
  }
}
.header__home .desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__home .desktop {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__home:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__home:hover:after {
    background: #fcfcfc;
  }
}
.header__menu {
  position: fixed;
  top: 0;
  background: #fff;
  right: -300px;
  width: 50%;
  padding: 20px;
  max-width: 300px;
  min-width: 180px;
  transition: all 0.5s;
  overflow-y: auto;
  z-index: 15;
  box-shadow: 2px 2px 10px rgba(61, 61, 61, 0.45);
}
@media screen and (min-width: 1200px) {
  .header__menu {
    background: transparent;
    overflow-y: visible;
    position: relative;
    display: flex;
    height: 50px;
    padding: 0;
    width: 100%;
    max-width: none;
    right: 0;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    box-shadow: none;
  }
}
.header__menu.show {
  right: 0;
}
.header__menu ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .header__menu ul {
    display: flex;
    margin: 0 0 0 25px;
  }
}
.header__menu ul li {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.header__menu ul li a {
  border-bottom: 1px solid #bcbbbb;
  display: flex;
  height: 40px;
  align-items: center;
  width: 80%;
  justify-content: flex-end;
  position: relative;
  text-decoration: none;
  color: #222020;
}
@media screen and (min-width: 1200px) {
  .header__menu ul li a {
    font-size: 17px;
    height: 50px;
    margin-right: 25px;
    justify-content: center;
    border: none;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu ul li a:after {
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
}
.header__menu ul li a:hover, .header__menu ul li a:active {
  border-color: #003ede;
}
@media screen and (min-width: 1200px) {
  .header__menu ul li a:hover:after, .header__menu ul li a:active:after {
    background: #fcfcfc;
  }
}
.header__menu ul li:nth-last-child(1) a {
  border: none;
}
.header__menu ul li.current-menu-item a, .header__menu ul li.current-post-ancestor a, .header__menu ul li.current-category-ancestor a {
  border-color: #003ede;
  color: #003ede;
}
@media screen and (min-width: 1200px) {
  .header__menu ul li.current-menu-item a, .header__menu ul li.current-post-ancestor a, .header__menu ul li.current-category-ancestor a {
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu ul li.current-menu-item a:after, .header__menu ul li.current-post-ancestor a:after, .header__menu ul li.current-category-ancestor a:after {
    background: #fcfcfc;
  }
}
.header__search {
  position: relative;
  width: 100%;
  height: 30px;
}
@media screen and (min-width: 1200px) {
  .header__search {
    width: 200px;
  }
}
.header__search__button {
  display: flex;
  cursor: pointer;
  color: #676767;
  width: 13px;
  height: 13px;
  background: none;
  position: absolute;
  top: 9px;
  right: 9px;
  border: none;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .header__search__button {
    color: #fcfcfc;
  }
}
.header__search__form {
  width: 100%;
}
.header__search__form__input {
  width: 100%;
  height: 30px;
  border: 1px solid #bcbbbb;
  font-size: 16px;
  padding: 0 25px 0 10px;
  line-height: 30px;
}
@media screen and (min-width: 1200px) {
  .header__search__form__input {
    background: transparent;
    border-color: #fcfcfc;
    color: #fcfcfc;
  }
}
.header__hamburger {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #fcfcfc;
  padding: 17px;
}
@media screen and (min-width: 540px) {
  .header__hamburger {
    height: 80px;
    width: 80px;
    padding: 28px 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger span {
  width: 17px;
  height: 2px;
  background: #676767;
  display: block;
  margin: 0 0 5px auto;
}
@media screen and (min-width: 540px) {
  .header__hamburger span {
    width: 30px;
    margin: 0 0 9px auto;
  }
}
.header__hamburger span:nth-child(2) {
  width: 9px;
}
@media screen and (min-width: 540px) {
  .header__hamburger span:nth-child(2) {
    width: 15px;
  }
}
.header__hamburger__placeholder {
  width: 40px;
}
@media screen and (min-width: 540px) {
  .header__hamburger__placeholder {
    width: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__hamburger__placeholder {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__links {
    margin-top: 30px;
  }
}
.header__links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 10px 0;
  align-items: center;
  border-top: 1px solid #bcbbbb;
  border-bottom: 1px solid #bcbbbb;
}
.header__links ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  margin-left: 10px;
}
.header__links ul li:nth-child(1) {
  margin: 0;
}
@media screen and (min-width: 540px) {
  .header__links ul li {
    width: calc(100% / 2 - 10px);
  }
}
@media screen and (min-width: 768px) {
  .header__links ul li {
    width: auto;
  }
}
.header__links ul li a {
  color: #3d3d3d;
  font-weight: 600;
}
.header__links ul li a:hover {
  color: #0036bf;
}

.logo {
  margin: 30px auto 0;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 50px auto 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    justify-content: space-between;
  }
}
.logo.empty_hidden {
  display: none;
}

.logo.container{
  height: 225px;
}
@media screen and (min-width: 1200px) {
  .logo.empty_hidden {
    display: flex;
  }
}

.logo__image {
  display: none;
  color: #222020;
  margin: 0 auto 60px auto;
  height: 225px;
}
.logo__image:hover {
  color: #222020;
}
@media screen and (min-width: 1200px) {
  .logo__image {
    display: block;
    width: 194px;
    height: 144px;
  }
}
.logo__advert {
  max-width: 870px;
  display: flex;
  width: 100%;
}

/*# sourceMappingURL=header.css.map */
