wp-config.php

/wp-content/cache/
/.github/

*.pdf
*.txt
*.jpg
*.jpeg
*.png
*.gif
*.docx
*.svg
*.zip
*.sql
*.bak
*.mp4
*.woff2
*.md
*.po

/wp-content/plugins/*.css
/wp-content/plugins/*.json
/wp-content/plugins/*.lock

